<launch>

    <!-- Start the underlying driver -->
    <include file="$(find transbot_bringup)/launch/bringup.launch"/>

    <!-- Start lidar -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- Start patrol node -->
    <node pkg="transbot_bringup" type="transbot_patrol.py" name="TransbotPatrol" required="true" output="screen"/>
</launch>
